/**
*	variables
*/

$body-bg: #eee !default;

// nav
// #####################
$nav-color-active: #238CFE;
$nav-li-bg: #000;
$nav-li-width:100%/3;
$nav-a-color: #aaa;
$nav-a-font-size: 15px;
$nav-a-font-family: fantasy;
$nav-height: 40px;
$nav-line-height: 20px;
$nav-active-color: #238CFE;

// home
// #####################
$home_content_color:#666;
